.subfooter .logo {
    margin: 0 auto;
}

@media (max-width: 992px) { 
    .subfooter .logo {
        margin: initial;
    }
}

footer {
    background-color: #e0d9e0;
    padding: 0.625rem 0;
}

.footer__text {
    text-align: center;
    color: #622F60;
    font-weight: 700;
}
