.subfooter .logo {
    margin: 0 auto;
}

@media (max-width: 992px) { 
    .subfooter .logo {
        margin: initial;
    }
}

footer {
    background-color: var(--color-lavender-gray);
    padding: 0.625rem 0;
}

.footer__text {
    text-align: center;
    color: var(--color-eggplant);
    font-weight: var(--weight-md);
}
