.navbar__list {
    display: flex;
}


.navbar__list .navbar__item {
    margin-right: 2rem;
}

.navbar__list .navbar__item:last-child {
    margin-right: 0;
}

.navbar__list .link.active::after {
    content: '';
}


@media (max-width: 992px) { 
    .navbar {
        display: none;
    }
 }