---
import './Navbar.css';
import Link from "../../atoms/Link/Link.astro";

---

<nav class="navbar" aria-label="menu de navegación para buscar diferentes opciones">
    <ul class="navbar__list" role="list">
        <li class="navbar__item"><Link isActive={true}><img class="link link-image" src="./../../../../public/icono_2.png" alt="">Aventura</Link></li>
        <li class="navbar__item"><Link><img class="link link-image" src="./../../../../public/icono.png" alt="">Destinos</Link></li>
        <li class="navbar__item"><Link><img class="link link-image" src="./../../../../public/icono_1.png" alt="">Alojamiento</Link></li>
        <li class="navbar__item"><Link>Sobre nosotros</Link></li>
    </ul>
</nav>

   

