.card {
  box-shadow: 0 0 3.125rem lightgrey;
  border-radius: 1.5rem; 
  width: auto;
  position: relative;
  margin-bottom: 0.75rem; 
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card__badge {
  position: absolute;
  top: 0.625rem; 
  right: 0.625rem;
}

.card__badgebutton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

}

.card__image {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.card__section {
  height: 100%;
  padding: 0.5rem;
}

.card__footer {
  background-color: var(--color-cotton);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.75rem 1rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.card__title {
  font-weight: var(--weight-md);
  font-size: var(--letter-sm);
  color: var(--color-eggplant);
}

.card__days {
  color: var(--color-charcoal);
}

.card__subtitle {
  font-size: var(--letter-md);
  font-weight: var(--weight-md);
  color: var(--color-charcoal);
}

.card__price-info {
  display: flex;
  flex-direction: column;
}

.card__wrapper {
  display: flex;
  flex-direction: column;
}

.card__label {
  font-size: var(--letter-xs);
  color: var(--color-charcoal);
}

.card__price {
  font-size: var(--letter-lgx2);
  font-weight: var(--weight-md);
}

.card__button--breakdown {
  text-decoration: underline;
  font-size: var(--letter-xs);
  text-align: left;
  color: var(--color-eggplant);
  position: relative;
  width: max-content;
  font-weight: var(--weight-sm);
}

.card__button--image {
  float: right;
  position: relative;
  top: 0.25rem;
  left: 0.25rem;
}

.card__action-wrapper {
  width: auto;
}

.card__action-wrapper .button--reserve {
  width: auto;
  word-break: break-all;
}

@media (max-width: 35.99875rem) { /* 575.98px */
  .card__footer {
    flex-direction: column;
  }

  .card__price-info {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

  .card__action-wrapper,
  .card__action-wrapper .button--reserve
   {
    width: 100%;
  }
}
