/* Sidebar.css */
.sidebar {
  margin-top: 4.0625rem;
  background-color: var(--color-cotton);
  border-radius: 1.5625rem; 
  width: 75%;
  float: right;
  padding-bottom: 0;
  min-height: max-content;
}

@media (max-width: 75rem) { /* 1200px */
  .sidebar {
      position: absolute;
      display: none;
      z-index: 10;
      top: -5.5625rem; 
      left: 0;
      width: 25%;
      border-radius: 0;
      height: calc(100% + 1.5rem); 
      box-shadow: 0px 0px 3.125rem lightgrey; 
  }

  .sidebar.open {
      display: initial;
  }
}

@media (max-width: 62.5rem) { /* 991.98px */
  .sidebar {
      width: 32%;
  }
}

@media (max-width: 48rem) { /* 767.98px */
  .sidebar {
      width: 50%;
  }
}

@media (max-width: 35.98rem) { /* 575.98px */
  .sidebar {
      position:absolute; 
      top: -4.0625rem; 
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 99; 
      overflow-y: auto; /* si necesitas scroll en móvil */
  }
}

.sidebar__wrapper {
  justify-content: space-between;
  border-bottom: 1px solid #E0D9E0;
}

@media (max-width: 75rem) { /* 1200px */
  .sidebar__wrapper {
    display: flex;
    align-items: baseline;
  }

}

.sidebar__title {
  color: var(--color-charcoal);
  font-weight: var(--weight-md);
  font-family: "Syne", sans-serif;
  text-align: center;
  font-size: var(--letter-md); 
  padding: 1.5rem; 

}

.sidebar__list {
  padding: 1.5rem;
}

.sidebar__iconclose {
  display: none;
}

@media (max-width: 75rem) { /* 1200px */
  .sidebar__iconclose {
      display: initial;
      position: relative;
      top: 0.4375rem; 
      right: 0.4375rem;
  }
}

.sidebar__item {
  margin-bottom: 1.5625rem; 
}

.sidebar__item:last-child {
  margin-bottom: 0;
}

.submenu {
  display: none;
  list-style-type: none;
  padding: 0;
  padding: 1.0625rem; 
  padding-bottom: 0;
}

.submenu li {
  margin-bottom: 1.25rem; 
  display: flex;
}

.submenu.show {
  display: block; /* Muestra el submenu cuando tiene la clase 'show' */
}

.submenu__more {
  font-size: var(--letter-sm); 
  font-weight: var(--weight-sm);
  color: var(--color-eggplant);
  text-decoration: underline;
}

.rotate {
  transform: rotate(180deg); /* Rota el botón */
  transition: transform 0.3s ease; /* Efecto suave */
}

.dropdown-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.dropdown-btn:focus {
  outline: 0.125rem solid black;
}

.dropdown-btn img,
.dropdown-btn svg {
  margin-right: 0.625rem; 
}

.dropdown-btn[aria-expanded="true"] {
  font-weight: var(--weight-md);
  color: var(--color-coral);
}

.dropdown-btn[aria-expanded="true"] .sidebar__icon {
  transform: rotate(90deg);
}

.dropdown-btn[aria-expanded="true"] .fill.color {
  font-weight: var(--weight-md);
  color: var(--color-coral);
  fill: var(--color-coral);
}

.dropdown-btn[aria-expanded="true"] .fill {
  stroke: var(--color-coral);
  color: initial;
  fill: transparent;
}

.dropwdown-btn__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
