/*utilidad para esconder texto accesible*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    overflow: hidden;
}


.pb-100 {
    padding-bottom: 3.125rem; /* 50px */
    position: relative;
}

@media (max-width: 35.9375rem) { /* 575.98px */
    .pb-100 {
        position: initial;
        margin-left: 0;
    }
}

