/* Variables de colores  */
:root {
   /* Tonos claros */
   --color-cotton: #FBF6F4;     /* Muy claro, base para fondos */
   --color-blush: #FAF7F5;      /* Blanco cálido alternativo */
   --color-lavender-gray: #E0D9E0; /* Gris lavanda sutil */
 
   /* Tonos oscuros */
   --color-eggplant: #622F60;   /* Púrpura oscuro profundo */
   --color-charcoal: #342E34;   /* Gris con tinte morado */
   --color-night: #2F222F;      /* Casi negro */
 
   /* Colores destacados */
   --color-coral: #F88F50;      /* Naranja coral brillante */
   --color-neon-lime: #B8FC28;  /* Verde lima neón */
  }
  