.button {
  padding: 0.75rem 1.125rem; 
  border-radius: 1.25rem; 
  border: none;
  color: white;
  transition: background-color 0.2s ease;
}

.button--primary {
  background-color: var(--color-eggplant);
  padding: 0.75rem 2rem;
}

.button--secondary {
  background-color: var(--color-coral);
  color: var(--color-night);
  padding: 0.75rem 2.5rem;
}

.button--light {
  background-color: white;
  color: var(--color-eggplant);
  border: 0.0625rem solid var(--color-eggplant); 
}

.button--reserve {
  background-color: white;
  color: var(--color-eggplant);
  border: 0.0625rem solid var(--color-eggplant); 
  font-weight: var(--weight-sm);
}

.button--img {
  margin-right: 0.625rem;      
}

.button--sm {
  font-size: var(--letter-xs);
  font-weight: var(--weight-md);            
  padding: 0.25rem 0.75rem;  
 
}

.button--filter {
  padding: 0.5rem 0.875rem;    
  background-color: var(--color-blush);
  display: none;
  font-weight: var(--weight-sm);
  font-size: var(--letter-lg);        
  color: var(--color-night);
}

@media (max-width: 75rem) {     
  .button--filter {
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width: 48rem) {     
  .button--filter {
    margin: auto;
  }
}


