.button {
  padding: 0.75rem 1.125rem; /* 12px 18px */
  border-radius: 1.25rem;    /* 20px */
  border: none;
  transition: background-color 0.2s ease;
  color: white;
}

.button--primary {
  background-color: var(--color-eggplant);
}

.button--secondary {
  background-color: var(--color-coral);
  color: var(--color-night);
}

.button--light {
  background-color: white;
  color: var(--color-eggplant);
  border: 0.0625rem solid var(--color-eggplant); /* 1px */
}

.button--reserve {
  color: var(--color-eggplant);
  background-color: white;
  border: 0.0625rem solid var(--color-eggplant); /* 1px */
}

.button--filter {
  padding: 0.5rem 0.875rem;      /* 8px 14px */
  background-color: var(--color-blush);
  display: none;
  font-weight: 600;
  font-size: 1.25rem;            /* 20px */
  color: var(--color-night);
}

@media (max-width: 75rem) {      /* 1200px */
  .button--filter {
    display: flex;
    margin: 0 auto;
  }
}



.button--img {
  margin-right: 0.625rem;        /* 10px */
}

.button--sm {
  font-size: 0.75rem;            /* 12px */
  padding: 0.25rem 0.75rem;      /* 4px 12px */
  font-weight: 700;
}
