---

import './Section.css';
---

<section class="section" aria-label="seccion de los titulos de presentacion">
    <h2 class="section__title">Vive tus propias aventuras</h2>
    <h3 class="section__subtitle">Para los que les gusta explorar y conocer mundo sin complejos</h3>
</section>