<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Syne:wght@300;400;500;600&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Home turismo</title>
	</head>
	<body>
		<slot />
	</body>
</html>

</style>
