.checkbox-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--letter-sm); 
  font-weight: var(--weight-md);
  margin-right: 0.3125rem;
}

/* Ocultamos el checkbox, pero sigue siendo accesible */
.checkbox-wrapper input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-wrapper__custom-checkbox {
  width: 1rem; 
  height: 1rem;
  background-color: white;
  margin-right: 0.625rem; 
  border: 0.0625rem solid var(--color-night); 
  border-radius: 0.125rem; 
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s ease;
}

.checkbox-wrapper input[type="checkbox"]:checked + .checkbox-wrapper__custom-checkbox {
  background-image: url('./../../../../public/check.png'); 
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-coral);
}

/* Accesibilidad con foco */
.checkbox-wrapper input[type="checkbox"]:focus + .checkbox-wrapper__custom-checkbox {
  outline: 0.125rem solid var(--color-night); 
  outline-offset: 0.125rem; 
}
